Script(
    [
        Decl(
            Func(
                Func {
                    id: Some(
                        Ident {
                            name: "f",
                        },
                    ),
                    params: [
                        Pat(
                            Ident(
                                Ident {
                                    name: "a",
                                },
                            ),
                        ),
                        Pat(
                            Assign(
                                AssignPat {
                                    left: Ident(
                                        Ident {
                                            name: "b",
                                        },
                                    ),
                                    right: Lit(
                                        Number(
                                            "0",
                                        ),
                                    ),
                                },
                            ),
                        ),
                        Pat(
                            Array(
                                [
                                    Some(
                                        Pat(
                                            Ident(
                                                Ident {
                                                    name: "c",
                                                },
                                            ),
                                        ),
                                    ),
                                    None,
                                    Some(
                                        Pat(
                                            Assign(
                                                AssignPat {
                                                    left: Ident(
                                                        Ident {
                                                            name: "d",
                                                        },
                                                    ),
                                                    right: Lit(
                                                        Number(
                                                            "0",
                                                        ),
                                                    ),
                                                },
                                            ),
                                        ),
                                    ),
                                    Some(
                                        Pat(
                                            RestElement(
                                                Ident(
                                                    Ident {
                                                        name: "e",
                                                    },
                                                ),
                                            ),
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        Pat(
                            Obj(
                                [
                                    Assign(
                                        Prop {
                                            key: Pat(
                                                Ident(
                                                    Ident {
                                                        name: "f",
                                                    },
                                                ),
                                            ),
                                            value: None,
                                            kind: Init,
                                            method: false,
                                            computed: false,
                                            short_hand: true,
                                            is_static: false,
                                        },
                                    ),
                                    Assign(
                                        Prop {
                                            key: Pat(
                                                Ident(
                                                    Ident {
                                                        name: "g",
                                                    },
                                                ),
                                            ),
                                            value: Pat(
                                                Ident(
                                                    Ident {
                                                        name: "h",
                                                    },
                                                ),
                                            ),
                                            kind: Init,
                                            method: false,
                                            computed: false,
                                            short_hand: false,
                                            is_static: false,
                                        },
                                    ),
                                    Assign(
                                        Prop {
                                            key: Pat(
                                                Ident(
                                                    Ident {
                                                        name: "i",
                                                    },
                                                ),
                                            ),
                                            value: Pat(
                                                Assign(
                                                    AssignPat {
                                                        left: Ident(
                                                            Ident {
                                                                name: "i",
                                                            },
                                                        ),
                                                        right: Lit(
                                                            Number(
                                                                "0",
                                                            ),
                                                        ),
                                                    },
                                                ),
                                            ),
                                            kind: Init,
                                            method: false,
                                            computed: false,
                                            short_hand: true,
                                            is_static: false,
                                        },
                                    ),
                                    Assign(
                                        Prop {
                                            key: Pat(
                                                Ident(
                                                    Ident {
                                                        name: "i",
                                                    },
                                                ),
                                            ),
                                            value: Pat(
                                                Assign(
                                                    AssignPat {
                                                        left: Ident(
                                                            Ident {
                                                                name: "j",
                                                            },
                                                        ),
                                                        right: Lit(
                                                            Number(
                                                                "0",
                                                            ),
                                                        ),
                                                    },
                                                ),
                                            ),
                                            kind: Init,
                                            method: false,
                                            computed: false,
                                            short_hand: false,
                                            is_static: false,
                                        },
                                    ),
                                ],
                            ),
                        ),
                        Pat(
                            RestElement(
                                Ident(
                                    Ident {
                                        name: "k",
                                    },
                                ),
                            ),
                        ),
                    ],
                    body: FuncBody(
                        [],
                    ),
                    generator: false,
                    is_async: false,
                },
            ),
        ),
    ],
)